@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Splash&display=swap');/*Passion+One*/
/*
.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.passion-one-bold {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.passion-one-black {
  font-family: "Passion One", sans-serif;
  font-weight: 900;
  font-style: normal;
}


*/



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Splash&family=Sriracha&display=swap');/*Srirach*/

/*.splash-regular {
  font-family: "Splash", cursive;
  font-weight: 400;
  font-style: normal;
}
*/


@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Passion+One:wght@400;700;900&display=swap');/**/
/*
.meow-script-regular {
  font-family: "Meow Script", cursive;
  font-weight: 400;
  font-style: normal;
}

*/





:root{
    --fonte1:verdana,Geneva,tahoma,sans-serif;
    --fonte2:"Passion One", sans-serif; /*titulos*/
    --fonte3:"Splash", cursive;/*conteudo*/
    --fonte4:"Meow Script", cursive;/*talvez*/

}




*{
    margin: 0%;
    padding: 0%;
}
html,body{
    min-height: 100vh;/*o tamanho minimo sera de 100% vil port (Haltura)*/
    background-color: darkgray;
    font-family: var(--fonte1);

}
header{
    background-color: black;/*fundo*/
    color: white;/*letras*/
    text-align: center;/*centralizar tudo*/


}
header > h1{ /*cordel mordeno*/
    padding: 50px;/*em cima */
    font-variant: small-caps;/*pode ser assim: text-transform: uppercase;(letra maiscula)..font-variant: small-caps;*/
    font-family: var(--fonte2);
    font-size: 4vw;/* em vez de 4em (em) sera 4ew (vw)-- vai trabalhar a largura,simular a tela do celular o tamanho da letra*/

    
}
header > p {/*tem o nome do auto*/
    padding-bottom: 50px;/*pra baixo, fica assimetrico com este aqui - padding: 50px;/*em cima */


}
header a, footer a {/*trabalhando o link que esta dentro do cabeçalho */
    color: white;/*letras*/
    text-decoration: none;/*tirar o sublinhado*/
    font-weight: bolder;/*negrito*/

}
header a:hover, footer a:hover{/*efeito ao passar por cima*/
    text-decoration:  underline;/*efeito sublinhado*/


}
section{/*aqui e para todas*/
    /*para ganhar espaço para rolagem,efeito paralax*/
    padding-top:5vh ;/*em cima (altura)*/
    padding-bottom:5vh ; /*em baixo*/
    line-height:1em ;/*espaçamento entre as linhas da letra*/
    padding-left: 30px;/*seria a margem,descola*/
    font-family:var(--fonte4);
    font-size: 3vw;/* a largura tamanho da letra*/
    background-size: cover;
    background-attachment: fixed;/*efeito paralax - fixed (fixa a imagem , enquanto rola a pagina e dar o efeito )*/

}
section > p {
    padding-bottom: 1em;

}

section.normal{
    background-color: white;/*fundo */
    color: black;/*letra*/


}
section.imagem{ /*neste vai entrar as imagens*/
    background-color: rgba(51, 51, 51);/*fundo*/
    color: white;/*letra*/
    box-shadow: inset 6px,6px,13px,0px, rgba(0, 0, 0, 0.774);/* inset(sombra pra dentro)- 13px(espalhamento)- 0px(ampliação) - */

}
section.imagem > p {
    /*todo paragrafo dentro de imagem */
    background-color: rgba(0, 0, 0, 0.514);/*fundo*/
    display:inline-block;/*este aqui a caixa se adapta ao conteudo-- pois assim:width: 400px;- fica muito grande em tela pequena*/
    padding: 3%;/*nao ficar muito grudado*/
    text-shadow: 1px 1px 0px black;
    

}
section#img01{
    background-image:url(imagem/background001.jpg);
    background-position: right center;/*a direita e centralizado*/
    

}
section#img02{
    background-image: url(imagem/background002.jpg);
    

}





footer{
    background-color: black;/*cor de fundo*/
    color: white;/*letra*/
    text-align: center;/*alinhamento*/
    padding: 10px;/*nas 4 posiçoes*/

}


